In [1]:
%load_ext sql

In [2]:
import csv, sqlite3
import pandas as pd

In [3]:
con = sqlite3.connect("database.db")
cur = con.cursor()

In [4]:
%sql sqlite:///database.db

In [5]:
data = pd.read_csv('datasets/data.csv')
data.to_sql("SONGDATA", con, if_exists='replace', index=False, method="multi", chunksize=1000)

4718

description of the table

In [6]:
%sql PRAGMA table_info(SONGDATA)

 * sqlite:///database.db
Done.

[(0, 'energy', 'REAL', 0, None, 0),
 (1, 'tempo', 'REAL', 0, None, 0),
 (2, 'danceability', 'REAL', 0, None, 0),
 (3, 'genre', 'TEXT', 0, None, 0),
 (4, 'loudness', 'REAL', 0, None, 0),
 (5, 'liveness', 'REAL', 0, None, 0),
 (6, 'valence', 'REAL', 0, None, 0),
 (7, 'artist', 'TEXT', 0, None, 0),
 (8, 'time_signature', 'REAL', 0, None, 0),
 (9, 'speechiness', 'REAL', 0, None, 0),
 (10, 'track_popularity', 'INTEGER', 0, None, 0),
 (11, 'album', 'TEXT', 0, None, 0),
 (12, 'name', 'TEXT', 0, None, 0),
 (13, 'instrumentalness', 'REAL', 0, None, 0),
 (14, 'mode', 'REAL', 0, None, 0),
 (15, 'key', 'REAL', 0, None, 0),
 (16, 'duration_ms', 'REAL', 0, None, 0),
 (17, 'acousticness', 'REAL', 0, None, 0),
 (18, 'id', 'TEXT', 0, None, 0),
 (19, 'popularity', 'INTEGER', 0, None, 0),
 (20, 'release_year', 'INTEGER', 0, None, 0)]

<h3>data for popular songs in 2024</h3>

lets see top 10 most popular songs in 2024

In [7]:
%%sql
SELECT DISTINCT (name), artist FROM SONGDATA 
WHERE release_year = 2024
ORDER BY track_popularity DESC LIMIT 10

 * sqlite:///database.db
Done.

[('Die With A Smile', 'Lady Gaga, Bruno Mars'),
 ('APT.', 'ROSÉ, Bruno Mars'),
 ('BIRDS OF A FEATHER', 'Billie Eilish'),
 ('Good Luck, Babe!', 'Chappell Roan'),
 ('That’s So True', 'Gracie Abrams'),
 ('WILDFLOWER', 'Billie Eilish'),
 ('Tu Boda', 'Oscar Maydon, Fuerza Regida'),
 ('Si Antes Te Hubiera Conocido', 'KAROL G'),
 ('Timeless (with Playboi Carti)', 'The Weeknd, Playboi Carti'),
 ('Who', 'Jimin')]

as pop is the most popular genre, lets see how many pop songs were popular in 2024

In [8]:
%%sql
SELECT COUNT(*) AS POPULAR_SONGS FROM SONGDATA 
WHERE release_year = 2024 AND genre = "pop" AND popularity = 1

 * sqlite:///database.db
Done.

[(62,)]

there are 62 pop songs released in 2024 that were popular

now lets see the songs that were really popular

In [9]:
%%sql
SELECT COUNT(*) AS VERY_POPULAR_SONGS FROM SONGDATA 
WHERE release_year = 2024 AND genre = "pop" AND track_popularity > 90

 * sqlite:///database.db
Done.

[(12,)]

there were 12 very popular songs, lets see what they were

In [10]:
%%sql
SELECT name, artist, track_popularity FROM SONGDATA 
WHERE release_year = 2024 AND genre = "pop" AND track_popularity > 90
GROUP BY name
ORDER BY track_popularity DESC

 * sqlite:///database.db
Done.

[('Die With A Smile', 'Lady Gaga, Bruno Mars', 100),
 ('APT.', 'ROSÉ, Bruno Mars', 98),
 ('BIRDS OF A FEATHER', 'Billie Eilish', 97),
 ('Good Luck, Babe!', 'Chappell Roan', 94),
 ('WILDFLOWER', 'Billie Eilish', 93),
 ('Tu Boda', 'Oscar Maydon, Fuerza Regida', 93),
 ('That’s So True', 'Gracie Abrams', 93),
 ('Taste', 'Sabrina Carpenter', 93),
 ('Si Antes Te Hubiera Conocido', 'KAROL G', 93),
 ('Sailor Song', 'Gigi Perez', 93),
 ('Who', 'Jimin', 92),
 ('Timeless (with Playboi Carti)', 'The Weeknd, Playboi Carti', 92)]

<h4>songs and popularity of few famous artists</h4>

Bruno Mars

In [11]:
%%sql
SELECT DISTINCT(name), artist, genre, release_year, track_popularity FROM SONGDATA
WHERE artist LIKE "%Bruno Mars%"
GROUP BY name
ORDER BY track_popularity DESC LIMIT 5

 * sqlite:///database.db
Done.

[('Die With A Smile', 'Lady Gaga, Bruno Mars', 'pop', 2024, 100),
 ('APT.', 'ROSÉ, Bruno Mars', 'pop', 2024, 98),
 ('Locked out of Heaven', 'Bruno Mars', 'pop', 2012, 89),
 ("That's What I Like", 'Bruno Mars', 'pop', 2016, 88),
 ('When I Was Your Man', 'Bruno Mars', 'pop', 2012, 87)]

Sabrina Carpenter

In [12]:
%%sql
SELECT DISTINCT name, artist, genre, release_year, track_popularity FROM SONGDATA
WHERE artist LIKE "%Sabrina Carpenter%"
GROUP BY name
ORDER BY track_popularity DESC LIMIT 5

 * sqlite:///database.db
Done.

[('Espresso', 'Sabrina Carpenter', 'pop', 2024, 90),
 ('Bed Chem', 'Sabrina Carpenter', 'pop', 2024, 90),
 ('Please Please Please', 'Sabrina Carpenter', 'pop', 2024, 88),
 ('Juno', 'Sabrina Carpenter', 'pop', 2024, 87),
 ('Nonsense', 'Sabrina Carpenter', 'pop', 2022, 86)]

Taylor Swift

In [13]:
%%sql
SELECT DISTINCT name, artist, genre, release_year, track_popularity FROM SONGDATA
WHERE artist LIKE "%Taylor Swift%"
GROUP BY name
ORDER BY track_popularity DESC LIMIT 5

 * sqlite:///database.db
Done.

[('Lover', 'Taylor Swift', 'pop', 2019, 84),
 ('Fortnight (feat. Post Malone)', 'Taylor Swift, Post Malone', 'pop', 2024, 84),
 ('cardigan', 'Taylor Swift', 'ambient', 2020, 83),
 ('I Can Do It With a Broken Heart', 'Taylor Swift', 'gaming', 2024, 83),
 ('Anti-Hero', 'Taylor Swift', 'pop', 2022, 81)]

Drake

In [14]:
%%sql
SELECT DISTINCT name, artist, genre, release_year, track_popularity FROM SONGDATA
WHERE artist LIKE "%Drake%"
GROUP BY name
ORDER BY track_popularity DESC LIMIT 5

 * sqlite:///database.db
Done.

[('WAIT FOR U (feat. Drake & Tems)', 'Future, Drake, Tems', 'gaming', 2022, 82),
 ('Passionfruit', 'Drake', 'hip-hop', 2017, 80),
 ('Jimmy Cooks (feat. 21 Savage)', 'Drake, 21 Savage', 'hip-hop', 2022, 80),
 ('Circadian Rhythm', 'Drake', 'hip-hop', 2024, 79),
 ('No Face', 'Drake', 'hip-hop', 2024, 78)]

Billie Eilish

In [15]:
%%sql
SELECT DISTINCT name, artist, genre, release_year, track_popularity FROM SONGDATA
WHERE artist LIKE "%Billie Eilish%"
GROUP BY name
ORDER BY track_popularity DESC LIMIT 5

 * sqlite:///database.db
Done.

[('BIRDS OF A FEATHER', 'Billie Eilish', 'pop', 2024, 97),
 ('WILDFLOWER', 'Billie Eilish', 'pop', 2024, 93),
 ('lovely (with Khalid)', 'Billie Eilish, Khalid', 'pop', 2018, 86),
 ('Guess featuring billie eilish', 'Charli xcx, Billie Eilish', 'pop', 2024, 85),
 ("Halley's Comet", 'Billie Eilish', 'ambient', 2021, 75)]

all of these artists had few popular songs in 2024

<h4>2nd popular song genres in 2023 and 2024</h4>

most popular k-pop genre songs

In [16]:
%%sql
SELECT DISTINCT(name), artist, genre, release_year, track_popularity FROM SONGDATA
WHERE genre = 'k-pop'
GROUP BY name
ORDER BY track_popularity DESC LIMIT 5

 * sqlite:///database.db
Done.

[('Rockstar', 'LISA', 'k-pop', 2024, 83),
 ('SPOT!', 'ZICO, JENNIE', 'k-pop', 2024, 78),
 ('SHEESH', 'BABYMONSTER', 'k-pop', 2024, 78),
 ('How Sweet', 'NewJeans', 'k-pop', 2024, 78),
 ('Drama', 'aespa', 'k-pop', 2023, 78)]

lets see the most popular k-pop genre song in 2023

In [17]:
%%sql
SELECT DISTINCT(name), artist, genre, release_year, track_popularity FROM SONGDATA
WHERE genre = 'k-pop' AND release_year = 2023
GROUP BY name
ORDER BY track_popularity DESC LIMIT 1

 * sqlite:///database.db
Done.

[('Drama', 'aespa', 'k-pop', 2023, 78)]

most popular gaming genre songs

In [18]:
%%sql
SELECT DISTINCT(name), artist, genre, release_year, track_popularity FROM SONGDATA
WHERE genre = 'gaming'
GROUP BY name
ORDER BY track_popularity DESC LIMIT 5

 * sqlite:///database.db
Done.

[('Die With A Smile', 'Lady Gaga, Bruno Mars', 'gaming', 2024, 100),
 ('BIRDS OF A FEATHER', 'Billie Eilish', 'gaming', 2024, 97),
 ('Good Luck, Babe!', 'Chappell Roan', 'gaming', 2024, 94),
 ('Espresso', 'Sabrina Carpenter', 'gaming', 2024, 90),
 ('Lose Control', 'Teddy Swims', 'gaming', 2023, 89)]

lets see most popular gaming genre song in 2024

In [19]:
%%sql
SELECT DISTINCT(name), artist, genre, release_year, track_popularity FROM SONGDATA
WHERE genre = 'gaming' AND release_year = 2024
GROUP BY name
ORDER BY track_popularity DESC LIMIT 1

 * sqlite:///database.db
Done.

[('Die With A Smile', 'Lady Gaga, Bruno Mars', 'gaming', 2024, 100)]

<h3> 2024 popular songs of famous artists</h3>

Bruno Mars

In [20]:
%%sql
SELECT DISTINCT(name), artist, genre, release_year, track_popularity FROM SONGDATA
WHERE artist LIKE "%Bruno Mars%" AND release_year = 2024
GROUP BY name
ORDER BY track_popularity DESC LIMIT 5

 * sqlite:///database.db
Done.

[('Die With A Smile', 'Lady Gaga, Bruno Mars', 'pop', 2024, 100),
 ('APT.', 'ROSÉ, Bruno Mars', 'pop', 2024, 98)]

Sabrina Carpenter

In [21]:
%%sql
SELECT DISTINCT(name), artist, genre, release_year, track_popularity FROM SONGDATA
WHERE artist LIKE "%Sabrina Carpenter%" AND release_year = 2024
GROUP BY name
ORDER BY track_popularity DESC LIMIT 5

 * sqlite:///database.db
Done.

[('Espresso', 'Sabrina Carpenter', 'pop', 2024, 90),
 ('Bed Chem', 'Sabrina Carpenter', 'pop', 2024, 90),
 ('Please Please Please', 'Sabrina Carpenter', 'pop', 2024, 88),
 ('Juno', 'Sabrina Carpenter', 'pop', 2024, 87),
 ('Taste', 'Sabrina Carpenter', 'pop', 2024, 81)]

Taylor Swift

In [22]:
%%sql
SELECT DISTINCT(name), artist, genre, release_year, track_popularity FROM SONGDATA
WHERE artist LIKE "%Taylor Swift%" AND release_year = 2024
GROUP BY name
ORDER BY track_popularity DESC LIMIT 5

 * sqlite:///database.db
Done.

[('Fortnight (feat. Post Malone)', 'Taylor Swift, Post Malone', 'pop', 2024, 84),
 ('I Can Do It With a Broken Heart', 'Taylor Swift', 'gaming', 2024, 83)]

Drake

In [23]:
%%sql
SELECT DISTINCT(name), artist, genre, release_year, track_popularity FROM SONGDATA
WHERE artist LIKE "%Drake%" AND release_year = 2024
GROUP BY name
ORDER BY track_popularity DESC LIMIT 5

 * sqlite:///database.db
Done.

[('Circadian Rhythm', 'Drake', 'hip-hop', 2024, 79),
 ('No Face', 'Drake', 'hip-hop', 2024, 78),
 ("It's Up (feat. Young Thug & 21 Savage)", 'Drake, Young Thug, 21 Savage', 'hip-hop', 2024, 76),
 ('Sideways', 'Gordo, Drake', 'electronic', 2024, 70)]

Billie Eilish

In [24]:
%%sql
SELECT DISTINCT(name), artist, genre, release_year, track_popularity FROM SONGDATA
WHERE artist LIKE "%Billie Eilish%" AND release_year = 2024
GROUP BY name
ORDER BY track_popularity DESC LIMIT 5

 * sqlite:///database.db
Done.

[('BIRDS OF A FEATHER', 'Billie Eilish', 'pop', 2024, 97),
 ('WILDFLOWER', 'Billie Eilish', 'pop', 2024, 93),
 ('Guess featuring billie eilish', 'Charli xcx, Billie Eilish', 'pop', 2024, 85)]

<h4>How much popularity did songs of few famous artists gain in 2024?</h4>
1. 2 songs by Bruno Mars were very popular and topped the popularity list<br>
2. Sabrina Carpenter and Billie Eilish had few songs which were also very popular<br>
3. Songs released by Taylor Swift and Drake couldn't gain much popularity